<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>商品列表</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
		body {
			/* padding-top:70px; */
			background-color: #f6f6f6;
		}
		
		.m-label {
			display: inline-block;
			width: 50px;
			color: #999;
		}
		.p-price{
			/* font-size:18px; */
			color:#E4393C;
		}
</style>
  </head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{'/go/index'}">在线商城</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul id ="nav-ul" class="nav navbar-nav navbar-right">
					<li><p id="username" class="navbar-text" style="display:none;color:blue"></p></li>
					<li id="login"><a th:href="@{'/go/login'}">请登录</a></li>
					<li id="register"><a th:href="@{'/go/register'}">免费注册</a></li>
					<li id="cart"><a th:href="@{'/go/cart'}">购物车</a></li>
					<li><a th:href="@{'/go/order'}">我的订单</a></li>
					<li><a th:href="@{'/go/editInfo'}">我的信息</a></li>
					<li id="logout" style="display:none"><a th:href="@{'/go/logout'}">退出</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3"></div>
			<div class="col-md-6 col-sm-6">
				<div class="input-group">
					<input id="input-search" type="text" class="form-control" placeholder="商品名称">
					<span class="input-group-btn">
						<button id="btn-search" class="btn btn-default" type="button">搜索</button>
					</span>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<h4 class="page-header" style="padding-left:20px">商品列表</h4>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-danger btn-xs">热门</button>
					<button type="button" class="btn btn-default btn-xs" disabled="disabled">价格</button>
				</div>
			</div>
		</div>
		<h3 id="notice" style="color:red" hidden="hidden">很抱歉，没有找到你需要的商品。</h3>
		<div id="start" class="row" style="padding-top:10px">
			<!-- <div id="0-div0" class="col-md-3">
				<div id="0-div1" class="thumbnail">
					<img id="0-img0" src="images/2-1.jpg" alt="...">
					<div id="0-div2" class="caption">
						<p id="0-p0"><a id="0-a0" href="#">Thumbnail label</a></p>
						<h3 id="0-h30" style="color:red"><strong>¥3699</strong></h3>
					</div>
				</div>
			</div> -->
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<script src="../static/js/jquery-1.12.4.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../static/js/bootstrap.min.js"></script>
	
	<!-- loginCheck.js -->
	<!-- <script src="js/loginCheck.js"></script> -->
	<!-- goods_list.js -->
	<script src="../static/js/goods_list.js"></script>
</body>
</html>