<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>登录</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

	<link href="../static/css/signin.css" rel="stylesheet">
	
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<!--     <style>
    	body{padding-top:200px;}
    </style> -->
  </head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">在线商城</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<p class="navbar-text">欢迎登录</p>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container">
		<div class="form-signin">
			<h2 class="form-signin-heading">账户登录</h2>
			<label for="username" class="sr-only">username</label>
			<input type="text" id="username" class="form-control" placeholder="用户名" required autofocus>
			<label for="password" class="sr-only">Password</label>
			<input type="password" id="password" class="form-control" placeholder="密码" required>
			<!--<div class="col-sm-12">
				<p class="text-right">
					<a href="#">忘记密码</a>
				</p>
			</div>-->
			<button class="btn btn-lg btn-primary btn-block" type="button" onclick="login()">登录</button>
			<a class="btn btn-lg btn-primary btn-block" type="button" th:href="@{'/go/register'}">注册</a>
		</div>
	</div>
	<!-- /container -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<script src="../static/js/jquery-1.12.4.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/login.js"></script>
</body>
</html>