<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>我的订单</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom ../static for this template -->
    <link href="../static/css/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    	/* body{padding-top:200px;} */
    	.margin-top-20{
    		margin-top:20px;
    	}
    </style>
  </head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">在线商城</a>
			</div>
			<p class="navbar-text">订单信息</p>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul id ="nav-ul" class="nav navbar-nav navbar-right">
					<li><p id="username" class="navbar-text" style="display:none;color:blue"></p></li>
					<li id="login"><a th:href="@{'/go/login'}">请登录</a></li>
					<li id="register"><a th:href="@{'/go/register'}">免费注册</a></li>
					<li id="cart"><a th:href="@{'/go/cart'}">购物车</a></li>
					<li><a th:href="@{'/go/order'}">我的订单</a></li>
					<li><a th:href="@{'/go/editInfo'}">我的信息</a></li>
					<li id="logout" style="display:none"><a th:href="@{'/go/logout'}">退出</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active">
						<a href="order.html">
							我的订单
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li>
						<a href="editInfo.html">修改个人信息</a>
					</li>
				</ul>
			</div>
			<div id="start" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h3 class="page-header">我的订单</h3>
				<h4 id="notice" class="color:red" hidden="hidden"><strong>还没有创建订单！</strong></h4>
				<!-- <div id="501-div0" class="panel panel-default">
					<div id="501-div1" class="panel-body">
						<div id="501-div2" class="row">
							<div id="501-div3" class="col-md-3 col-sm-3">2017-09-21 00:00:20</div>
							<div id="501-div4" class="col-md-3 col-sm-3">订单号:62880504545</div>
							<div id="501-div5" class="col-md-1 col-sm-1">数量</div>
							<div id="501-div6" class="col-md-1 col-sm-1">收货人</div>
							<div id="501-div7" class="col-md-1 col-sm-1">金额</div>
							<div id="501-div8" class="col-md-1 col-sm-1">状态</div>
							<div id="501-div9" class="col-md-1 col-sm-1">
								<button id="501-btn0" type="button" class="btn btn-danger btn-xs">去付款</button>
							</div>
							<div id="501-div10" class="col-md-1 col-sm-1">
								<button id="501-btn1" type="button" class="btn btn-danger btn-xs">取消订单</button>
							</div>
						</div>
						<div id="601-div0" class="row">
							<div id="601-div1" class="col-md-2 col-sm-2">
								<img id="601-img0" alt="" src="images/3.jpg" width="100px">
							</div>
							<div id="601-div2" class="col-md-4 col-sm-4 margin-top-20">
								<strong>尚都比拉2013冬装新款女装 韩版修身呢子大衣 秋冬气质羊毛呢外套</strong>
							</div>
							<div id="601-div3" class="col-md-1 margin-top-20">x1</div>
							<div id="601-div4" class="col-md-1 col-sm-1 margin-top-20">wy</div>
							<div id="601-div5" class="col-md-1 margin-top-20">11998.00</div>
							<div id="601-div6" class="col-md-2 margin-top-20">等待付款</div>
							<div id="601-div7" class="col-md-1 margin-top-20"></div>
						</div>
						<div id="602-div0" class="row">
							<div class="col-md-2 col-sm-2">
								<img alt="" src="images/3.jpg" width="100px">
							</div>
							<div class="col-md-4 col-sm-4 margin-top-20">
								<strong>尚都比拉2013冬装新款女装 韩版修身呢子大衣 秋冬气质羊毛呢外套</strong>
							</div>
							<div class="col-md-1 margin-top-20">x1</div>
							<div class="col-md-1 col-sm-1 margin-top-20">wy</div>
							<div class="col-md-1 margin-top-20">11998.00</div>
							<div class="col-md-2 margin-top-20">等待付款</div>
							<div class="col-md-1 margin-top-20"></div>
						</div>
					</div>
				</div> -->

			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<script src="../static/js/jquery-1.12.4.min.js"></script>
	<!-- Include ../staticmpiled plugins (below), or include individual files as needed -->
	<script src="../static/js/bootstrap.min.js"></script>
	
	<!-- order.js../static-->
	<script src="../static/js/order.js"></script>
</body>
</html>