<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>注册</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    	body{
    		padding-top:120px;
    		background-color: #eee;
    	}
    	.btn{
    		margin-top:10px;
    	}
    </style>
  </head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">在线商城</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<p class="navbar-text">欢迎注册</p>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3"></div>
			<div class="col-md-9 col-sm-9">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="username" class="col-md-2 control-label">用户名(*)</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="username" id="username" placeholder="必填项	字母、数字，4-10个字符">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-md-2 control-label">密码(*)</label>
						<div class="col-md-4">
							<input type="password" class="form-control" name="password" id="password" placeholder="必填项	字母、数字，6-10个字符">
						</div>
					</div>
					<div class="form-group">
						<label for="phone" class="col-md-2 control-label">手机号</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="phone" id="phone" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-md-2 control-label">邮箱</label>
						<div class="col-md-4">
							<input type="email" class="form-control" name="email" id="email" placeholder="">
						</div>
					</div>
					<!--<div class="form-group">
						<label for="question" class="col-md-2 control-label">密码问题</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="question" id="question" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="answer" class="col-md-2 control-label">密码答案</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="answer" id="answer" placeholder="">
						</div>
					</div>-->
					<div class="form-group">
						<div class="col-md-offset-2 col-md-3">
							<button type="button" class="btn btn-lg btn-primary btn-block" onclick="register()">注册</button>
							<a class="btn btn-lg btn-primary btn-block" type="button" th:href="@{'/go/login'}">返回</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<script src="../static/js/jquery-1.12.4.min.js"></script>
	<!-- Include ../static/all compiled plugins (below), or include individual files as needed -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- register../static/.js -->
	<script src="../static/js/register.js"></script>
	<!-- login.js../static/ -->
	<script src="../static/js/login.js"></script>
</body>
</html>